<nz-collapse nzBordered nzAccordion nzExpandIconPosition = "right">
  <nz-collapse-panel nzHeader = "Thông tin khách hàng" style = "background: #c49d6b;" nzActive>
      <div nz-row>
          <div nz-col nzSpan="12">
              <!-- <form nz-form>
                  <nz-form-item>
                      <nz-form-label nzSpan = "8">Khách hàng</nz-form-label>
                      <nz-form-control>
                          <input nz-input nzSpan = "16" PlaceHolder = "Khách hàng">
                      </nz-form-control>
                  </nz-form-item>
              </form> -->
              <div nz-row >
                  <div nz-col nzSpan = "8"><label nzSpan = "8">Khách hàng</label></div>
                  <div nz-col nzSpan = "16">
                      <nz-select nzPlaceHolder = "Khách hàng" nzShowSearch nzAllowClear>
                          <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                      </nz-select>
                  </div>
              </div>
              <br>
              <div nz-row >
                  <div nz-col nzSpan = "8"><label nzSpan = "8">Chi nhánh</label></div>
                  <div nz-col nzSpan = "16">
                      <nz-select  nzPlaceHolder = "Chi nhánh" nzShowSearch nzAllowClear>
                          <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                          <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                      </nz-select>
                  </div>
              </div>
          </div>
          <div nz-col nzSpan="12">
              <div nz-row >
                  <div nz-col nzSpan = "8"><label>Hạn mức công nợ</label></div>
                  <div nz-col nzSpan = "16">
                      <input nz-input [disabled] = "true" class = "limit" nzSize = "default">
                  </div>
              </div>
          </div>
      </div>
      <br>
      <div nz-row >
          <div nz-col nzSpan = "4"><label>MSGH</label></div>
          <div nz-col nzSpan = "20"><input nz-input [disabled] = "true" nzSize = "default" class = "msgh"></div>
      </div>
      <br>
  </nz-collapse-panel>

</nz-collapse>

