<nz-collapse nzBordered  nzExpandIconPosition = "right">
  <nz-collapse-panel nzHeader = "Thông tin đơn hàng" style = "background: #c49d6b;" nzActive>
     <form nz-form (ngSubmit)="onSubmit()" [formGroup]="formHopDong">
         <div nz-row>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Hợp đồng</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzPlaceHolder = "Hợp đồng" formControlName="contractId" class = "form-control">
                      <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                    </nz-select>
                  </div>
              </div>
          </div>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>P/thức vận chuyển</label></div>
                  <div nz-col nzSpan = "16">
                      <div nz-row>
                          <div nz-col nzSpan = "12">
                              <nz-select style="width: 80%" nzPlaceHolder = "" formControlName="contractId" class = "form-control">
                                  <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                                </nz-select>
                          </div>
                          <div nz-col nzSpan = "12">
                              <nz-select style = "width: 80%;" nzPlaceHolder = "" formControlName="contractId" class = "form-control">
                                  <nz-option nzLabel=""></nz-option>
                                </nz-select>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
         </div>
         <br>
         <div nz-row>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Nơi nhận hàng</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzPlaceHolder = "Nơi nhận hàng" formControlName="contractId" class = "form-control">
                      <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                    </nz-select>
                  </div>
              </div>
          </div>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Số lượng</label></div>
                  <div nz-col nzSpan = "16">
                      <div nz-row>
                          <div nz-col nzSpan = "17">
                              <input nz-input value = "0" style="width: 90%">
                          </div>
                          <div nz-col nzSpan = "7">
                              <nz-select style = "width: 65%;" nzPlaceHolder = "" formControlName="contractId" class = "form-control">
                                  <nz-option nzLabel="TẤN" nzValue = "TẤN">TẤN</nz-option>
                                  <nz-option nzLabel="TẠ" nzValue = "TẠ">TẠ</nz-option>
                                  <nz-option nzLabel="KG" nzValue = "KG">KG</nz-option>
                                </nz-select>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
         </div>
         <br>
         <div nz-row>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Địa bàn</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzPlaceHolder = "Địa bàn" formControlName="contractId" class = "form-control">
                      <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                    </nz-select>
                  </div>
              </div>
          </div>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Bảng giá</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzPlaceHolder = "Bảng giá" formControlName="contractId" class = "form-control">
                      <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                    </nz-select>
                  </div>
              </div>
          </div>
         </div>
         <br>
         <div nz-row>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Tỉnh</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzPlaceHolder = "Tỉnh" formControlName="contractId" class = "form-control">
                      <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                    </nz-select>
                  </div>
              </div>
          </div>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Đơn giá</label></div>
                  <div nz-col nzSpan = "16">
                      <div nz-row>
                          <div nz-col nzSpan = "17">
                              <nz-select style="width: 90%" nzPlaceHolder = "" formControlName="contractId" class = "form-control" nzDisabled>
                                  <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                                </nz-select>
                          </div>
                          <div nz-col nzSpan = "7">
                              <nz-select style = "width: 65%;" nzPlaceHolder = "" formControlName="contractId" class = "form-control" nzDisabled>
                                  <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                                </nz-select>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
         </div>
         <br>
         <div nz-row>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Điểm xác nhận</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzPlaceHolder = "Điểm xác nhận" formControlName="contractId" class = "form-control">
                      <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                    </nz-select>
                  </div>
              </div>
          </div>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Phương tiện</label></div>
                  <div nz-col nzSpan = "16">
                      <div nz-row>
                          <div nz-col nzSpan = "10">
                              <nz-select style="width: 80%" nzPlaceHolder = "" formControlName="contractId" class = "form-control">
                                  <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                                </nz-select>
                          </div>
                          <div nz-col nzSpan = "3"><label nz-checkbox [(ngModel)]="checked" style = "text-align: center; align-items: center;"></label></div>
                          <div nz-col nzSpan = "11">
                              <nz-select style = "width: 79%;" nzPlaceHolder = "" formControlName="contractId" class = "form-control">
                                  <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                                </nz-select>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
         </div>
         <br>
         <div nz-row>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Sản phẩm</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzPlaceHolder = "Sản phẩm" formControlName="contractId" class = "form-control">
                      <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                    </nz-select>
                  </div>
              </div>
          </div>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Tên tài xế</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzPlaceHolder = "Tên tài xế" formControlName="contractId" class = "form-control">
                      <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                    </nz-select>
                  </div>
              </div>
          </div>
         </div>
         <br>
         <div nz-row>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Loại vỏ bao</label></div>
                  <div nz-col nzSpan = "16">
                      <div nz-row>
                          <div nz-col nzSpan = "12">
                              <nz-select style="width: 80%" nzPlaceHolder = "Loại vỏ bao" formControlName="contractId" class = "form-control">
                                  <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                                </nz-select>
                          </div>
                          <div nz-col nzSpan = "12">
                              <nz-select style = "width: 80%;" nzPlaceHolder = "Loại vỏ bao" formControlName="contractId" class = "form-control">
                                  <nz-option nzLabel="Cong ty">Cong ty</nz-option>
                                </nz-select>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Ngày dự kiến nhận hàng</label></div>
                  <div nz-col nzSpan = "16">
                      <nz-date-picker [nzFormat]="dateFormat" ></nz-date-picker>
                  </div>
              </div>
          </div>
         </div>
         <br>
         <div nz-row>
          <div nz-col nzSpan = "12">

          </div>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Ghi chú</label></div>
                  <div nz-col nzSpan = "16">
                      <input nz-input  style="width: 90%">
                  </div>
              </div>
          </div>
         </div>
         <br>
     </form>
  </nz-collapse-panel>
</nz-collapse>
