.button-group {
  margin-top: 10px;
}
[nz-button] {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 600;
  font-family:Times New Roman, Times, serif;
  text-transform: uppercase;
  padding: 9px 14px 8px 14px;

}
.btn-green {
  background: #ee4242;
  color: #ffffff;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.btn-green {
  background:#d83d3d;
  color: #ffffff;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 26%);
}
.btn-red {
  background: #d60c1d;
  color: #ffffff;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.btn-red {
  background:#1fd6b8;
  color: #ffffff;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 26%);
}
.btn-hover {
  background: #09e9c3;
  color: #ffffff;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.btn-hover {
  background:#1f897f;
  color: #ffffff;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 26%);
}
.btn-cancel {
  background: #ec94d9;
  color: #ffffff;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.btn-cancel {
  background:#f1f0ef;
  color: #0a0101;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 26%);
}


