<nz-collapse nzBordered nzAccordion nzExpandIconPosition = "right">
  <nz-collapse-panel nzHeader = "Dashboard " style = "background: #c49d6b;">
     <form nz-form (ngSubmit)="onSubmit()" [formGroup]="formHopDong">
         <div nz-row>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Hợp đồng</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
                      <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option" [nzHide]="!(option)"></nz-option>
                    </nz-select>
                 </div>
              </div>
          </div>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>P/thức vận chuyển</label></div>
                  <div nz-col nzSpan = "16">

                      <div nz-row>
                          <div nz-col nzSpan = "12">
                            <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
                              <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option" [nzHide]="!(option)"></nz-option>
                                </nz-select>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
         </div>
         <br>
         <div nz-row>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Nơi nhận hàng</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
                      <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option" [nzHide]="!(option)"></nz-option>
                    </nz-select>
                  </div>
              </div>
          </div>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Số lượng</label></div>
                  <div nz-col nzSpan = "16">
                      <div nz-row>
                          <div nz-col nzSpan = "17">
                            <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
                              <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option" [nzHide]="!(option)"></nz-option>
                                </nz-select>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
         </div>
         <br>
         <div nz-row>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Địa bàn</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
                      <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option" [nzHide]="!(option)"></nz-option>
                    </nz-select>
                  </div>
              </div>
          </div>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Bảng giá</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
                      <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option" [nzHide]="!(option)"></nz-option>
                    </nz-select>
                  </div>
              </div>
          </div>
         </div>
         <br>
         <div nz-row>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Tỉnh</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
                      <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option" [nzHide]="!(option)"></nz-option>
                    </nz-select>
                  </div>
              </div>
          </div>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Loại đơn hàng</label></div>
                  <div nz-col nzSpan = "16">
                      <div nz-row>
                          <div nz-col nzSpan = "17">
                            <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
                              <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option" [nzHide]="!(option)"></nz-option>
                              </nz-select>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
         </div>
         <br>
         <div nz-row>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Điểm xác nhận</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
                      <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option" [nzHide]="!(option)"></nz-option>
                    </nz-select>
                  </div>
              </div>
          </div>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Phương tiện</label></div>
                  <div nz-col nzSpan = "16">
                      <div nz-row>
                          <div nz-col nzSpan = "10">
                            <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
                              <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option" [nzHide]="!(option)"></nz-option>
                            </nz-select>
                          </div>
                          <div nz-col nzSpan = "11">

                          </div>
                      </div>
                  </div>
              </div>
          </div>
         </div>
         <br>
         <div nz-row>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Sản phẩm</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
                      <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option" [nzHide]="!(option)"></nz-option>
                    </nz-select>
                  </div>
              </div>
          </div>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Tên tài xế</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
                      <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option" [nzHide]="!(option)"></nz-option>
                    </nz-select>
                  </div>
              </div>
          </div>
         </div>
         <br>
         <div nz-row>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Loại vỏ bao</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
                      <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option" [nzHide]="!(option)"></nz-option>
                    </nz-select>
                    <div nz-row>
                          <div nz-col nzSpan = "12">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Ngày dự kiến nhận hàng</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-date-picker [nzFormat]="dateFormat" ></nz-date-picker>
                  </div>
              </div>
          </div>
         </div>
         <br>
         <div nz-row>
          <div nz-col nzSpan = "12"></div>
          <div nz-col nzSpan = "12">
              <div nz-row>
                  <div nz-col nzSpan = "8"><label>Ghi chú</label></div>
                  <div nz-col nzSpan = "16">
                    <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
                      <nz-option *ngFor="let option of listOfOption" [nzLabel]="option" [nzValue]="option" [nzHide]="!(option)"></nz-option>
                    </nz-select>
                  </div>
              </div>
          </div>
         </div>
         <br>
     </form>
  </nz-collapse-panel>
</nz-collapse>


