nz-select, nz-date-picker{
  width: 90%;
}
[nz-button] {
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  background: #26a69a;
  font-weight: 600;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 9px 14px 8px 14px;
}
[nz-button]:hover {
  background: #1f897f;
  color: #ffffff;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 26%);
}
