<p>from works!</p>
<a _ngcontent-upa-c205="" ng-reflect-router-link="dashboard" href="/sale-order/dashboard"><img _ngcontent-upa-c205="" src="./assets/admin/vicem/img/logo-light.png" alt="logo" class="logo-default"></a>
<img _ngcontent-upa-c205="" src="./assets/admin/vicem/img/logo-light.png" alt="logo" class="logo-default">
