<nz-collapse nzBordered nzAccordion nzExpandIconPosition = "right">
  <nz-collapse-panel nzHeader = "Chi tiết hóa đơn" style = "background: #c49d6b;" nzActive>
      <div>
          <nz-table  nzBordered nzShowSizeChanger [nzScroll]="{ x: '2000px' }" ></nz-table>
              <thead class = "title">
                  <tr>
                     <th [(nzChecked)]="checked"
                         [nzIndeterminate]="indeterminate"
                         style="width: 40px"></th>
                      <th style="width: 80px; font-size: 12px; font-weight: bold; text-align: center; font-family: Times New Roman, Times, serif;">MSGH</th>
                      <th style="width: 200px; font-size: 12px; font-weight: bold; text-align: center; font-family: Times New Roman, Times, serif;">Loại Đơn hàng</th>
                      <th style="width: 100px; font-size: 12px; font-weight: bold; text-align: center; font-family: Times New Roman, Times, serif;">P/Tiện</th>
                      <th style="width: 100px; font-size: 12px; font-weight: bold; text-align: center; font-family: Times New Roman, Times, serif;">Rờ-mooc</th>
                      <th style="width: 100px; font-size: 12px; font-weight: bold; text-align: center; font-family: Times New Roman, Times, serif;" >S/Lượng</th>
                      <th style="width: 80px; font-size: 12px; font-weight: bold; text-align: center; font-family: Times New Roman, Times, serif;">ĐĐVT</th>
                      <th style="width: 160px; font-size: 12px; font-weight: bold; text-align: center; font-family: Times New Roman, Times, serif;">Đơn giá</th>
                      <th style="width: 120px; font-size: 12px; font-weight: bold; text-align: center; font-family: Times New Roman, Times, serif;">Chiết khấu</th>
                      <th style="width: 120px; font-size: 12px; font-weight: bold; text-align: center; font-family: Times New Roman, Times, serif;">Giá trị</th>
                      <th style="width: 100px; font-size: 12px; font-weight: bold; text-align: center; font-family: Times New Roman, Times, serif;">Loại tiền</th>
                      <th style="width: 140px; font-size: 12px; font-weight: bold; text-align: center; font-family: Times New Roman, Times, serif;">Tên tài xế</th>
                      <th style="width: 100px; font-size: 12px; font-weight: bold; text-align: center; font-family: Times New Roman, Times, serif;">Ghi chú</th>
                      <th style="width: 200px; font-size: 12px; font-weight: bold; text-align: center; font-family: Times New Roman, Times, serif;">Sản phẩm</th>
                      <th style="width: 130px; font-size: 12px; font-weight: bold; text-align: center; font-family: Times New Roman, Times, serif;">Loại vỏ bao</th>
                      <th style="width: 200px; font-size: 12px; font-weight: bold; text-align: center; font-family: Times New Roman, Times, serif;">Ngày dự kiến nhận hàng</th>
                  </tr>
              </thead>

      </div>
      <div nz-row nzJustify="end" class = "button-group">
          <button nz-button class="btn-green" nzSize = "large">Thêm dòng</button>
          <button nz-button class="btn-red" nzSize = "large">Xóa dòng</button>
          <button nz-button class="btn-yellow" nzSize = "large">Đặt hàng</button>
          <button nz-button class="btn-default" nzSize = "large">Hủy</button>
      </div>
  </nz-collapse-panel>
</nz-collapse>


